<mat-nav-list>
  <div class="logo py-2">
    <img src="./assets/CS.img-removebg-preview.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APLICACIONES</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>view_list</mat-icon> Materiales
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/hand-work">
    <mat-icon>hourglass_full</mat-icon> Mano de Obra
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/unidades" routerLinkActive="active"> 
    <mat-icon>edit</mat-icon> Unidades de Medida 
  </a>
  <a mat-list-item outerLinkActive="list-item-active" routerLink="/quotation"> 
    <mat-icon>assignment</mat-icon> Cotizar 
  </a>
  
</mat-nav-list>

